
  <div class="container">
    <h1 class='makeRoom'>Create a Registry</h1>
    <div class="wrapper">
      </div>
      <div class="makeRoom giveSpace">
        <form class="label" method="POST" action="send">
          <div class="giveSpace">
            <label>Email to send to.</label>
            <input type="email" name="email">
          </div>
          <div class="giveSpace">
            <label>Registry Name</label>
            <input type="text" name="registryName">
          </div> 
          <div class="giveSpace">
            <label>Gift</label>
            <input type="text" name="gift1">
          </div>
          <div class="giveSpace">
            <label>Gift</label>
            <input type="text" name="gift2">
          </div>
          <div class="giveSpace">
            <label>Gift</label>
            <input type="text" name="gift3">
          </div>
          <div class="giveSpace">
            <label>Gift</label>
            <input type="text" name="gift4">
          </div>
          <div class="giveSpace">
            <label>Gift</label>
            <input type="text" name="gift5">
          </div>
          <div class="giveSpace">
            <button type="submit">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>