

<div class="jumbotron">
    <h1 class="font-weight-bold display-4">Showing Gift Occasions For {{name}}!</h1>
    <hr class="my-4" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">

        <h1 class="">Create a new occasion!</h1>
        <form>
          <div class="form-group flex-column">
            <label>Name of Occasion:</label>
            <input
              type="text"
              placeholder="Enter name of occasion"
              class="form-control"
            />
            <label>Date of occasion:</label>
            <input
              type="Date"
            />
            <label>Do you want an email reminder a week before?</label>
            <input type="checkbox" id="reminder">
            <input type="submit" class="btn">Submit</input>
          </div>
        </form>
      </div>
      {{#if giftOccasions.length}}
        <div class="col-6">
          <h2 class="giveSpace">Your Giftee's Occasions!</h2>
          {{#each giftOccasions as |giftOccasion|}}
            <div class="linkNames giveSpace" > <a href="/giftoccasion/{{giftOccasion.id}}">{{giftOccasion.occasion}}</a></div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
