<div class="jumbotron">
    <h1 class="font-weight-bold display-4">Showing Gift Occasions For {{name}}!</h1>
    <hr class="my-4" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">

        <h1 class="">Create a new occasion!</h1>
        <form>
          <div class="form-group">
            <label>Name of Occasion:</label>
            <input
              type="text"
              placeholder="Enter name of occasion"
              class="form-control"
            />
            <label>Date of occasion:</label>
            <input
              type="Date"
            />
            <button class="btn">Submit</button>
          </div>
        </form>
      </div>
      {{#if giftoccasions.length}}
        <div class="col-6">
          <h2>Your Giftee's!</h2>
          {{#each giftoccasions as |giftoccasion|}}
            <div> <a href="/giftee/{{giftoccasion.id}}">{{giftoccasion.name}}</a></div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}