<div class="jumbotron">
  <h1 class="font-weight-bold display-4 makeRoom">{{occasion}} gift idea list </h1>
  <hr class="my-4" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">

      <h1 class="">Put a new gift idea on the list!</h1>
      <form>
        <div class="form-group" onsubmit="addRegistryGift()" >
          <label>Name of gift:</label>
          <input
            type="text"
            placeholder="Enter name of gift"
            class="form-control"
            id="occasionGift"/>
          <input id="submitNew" type="submit" class="btn"></input>
        </div>
      </form>
    </div>
    {{#if giftIdeas.length}}
      <div class="col-6">
        <h2 class="mt-3 giveSpace">Gift Ideas for their {{occasion}}:</h2>
        {{#each giftIdeas as |giftIdea|}}
          <div class="linkNames giveSpace"> <p>{{giftIdea.gift}}</p></div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>