<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
    {{/if}}
  </div>
</nav>
<main>
  <aside>
    <h2>A place to remember your gifts!</h2>
  </aside>
</main>
{{#if loggedIn}}
  <script src="../public/js/logout.js"></script>
{{/if}}