{{#if loggedIn}}
  <section class="gifts-2">
    <img src="/images/{{}}" alt="{{}}" />
    <div class="gift-details">
      <h3>{{}}</h3>
      <p> {{}}</p>
    </div>
  </section>
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}