{{#if loggedIn}}
  <div class="profile-card">
    <div class="profile-card-header">
      {{!-- {{user's name??}} --}}
    </div>
    <div class="card-body">
      {{!-- {{profile??}} --}}
    </div>
  </div>
{{else}}
  <a href="../public/js/login.js">You must login first to view this page</a>
{{/if}}